
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
/config/s4blog/config.yaml
/config/google-analytics.json
/public/s4b/**
/public/node_modules/